* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Body */



body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
.flex-row { /* (replaced vaious other selectors/attributes and made the content wrap more smoothly: .intro, .steps:text-align, .trainers:text-align, .contact:text-align) */
    display: flex;
}



/* Body end */
/* Header */



header {
    padding: 20px 35px;
    background-color: #39a6b2;
    /* (the below attributes replace vaious other header attributes and make the content wrap more smoothly: h1:display, nav:float) */
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    /* display: inline; (replaced with flex(box)) */
}
header a {
    text-decoration: none;
    color: #fce138;
}
header nav {
    /* float: right; (replaced with flex(box)) */
    margin: 7px 0;
}
header nav ul { /* replaced nav ul li */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* header nav ul li { (replaced by nav ul)
    display: inline;
} */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}



/* Header end */
/* Hero style */



.hero {
    background-image: url(../images/hero-bg.jpg);
    /* height: 600px; (replaced with flex(box)) */
    background-size: cover;
    background-position: center;
    /* position: relative; (replaced with flex(box)) */
    /* (the below attributes replace vaious other hero attributes and make the content wrap more smoothly: .hero:height,postion .hero-form:width,position,bottom,right ) */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}
.hero-form {
    border: 3px solid #024e76;
    background-color: #fce138;
    padding: 20px;
    /* width: 500px; (replaced with flex(box)) */
    color: #024e76;
    /* position: absolute; (replaced with flex(box)) */
    /* bottom: 120px; (replaced with flex(box)) */
    /* right: 240px; (replaced with flex(box)) */
    width: 40%;
    margin: 3.5%;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}



/* Hero style end */
/* 'What We Do' style */



/* .intro { (replaced with flex(box) in Body styles: .flex-row) 
    text-align: center;
} */

/* Consolidated w/ .section-title + .primary-border */
/* .intro h2 {
    display: inline-block;
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid #fce138;
} */

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}



/* What We Do END */
/* What You Do style */



.steps {
    /* text-align: center; (replaced with flex(box) in Body styles: .flex-row) */
    background: #fce138;
}
/* .steps h2 { (Consolidated w/ .section-title + .secondary-border)
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid #39a6b2;
} */
.section-title {
    font-size: 55px;
    color: #024e76;
    /* margin-bottom: 35px; (replaced with flex(box)) */
    /* padding: 0 100px 20px 100px; (replaced with flex(box)) */
    /* display: inline-block; (replaced with flex(box)) */
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: #fce138;
}
.secondary-border {
    border-color: #39a6b2;
}
/* .steps div { (replaced with flex(box) in .step)
    margin-bottom: 80px;
} */
/* .steps img { (replaced with flex(box) in .step)
    width: 15%;
    margin: 10px 0;
} */
.step { 
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    /* (the below attributes replaced vaious other .step selectors/attributes and made the content wrap more smoothly: .steps div, .steps img, .step:margin-top) */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step-info { 
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-img { 
    flex: 1 12%;
    margin-right: 20px;
}
.step-img img { 
    max-width: 100%;
}
.step-text { 
    flex: 12;
}
.step h3 { /* (renamed from .steps h3 --> .step h3) */
    color: #024e76;
    font-size: 46px;
    /* margin-top: 10px; (replaced with flex(box) in .step) */
    flex: 1 30%;
}
.steps-text p { /* (renamed .steps p --> .step-text p) */
    color: #39a6b2;
    font-size: 18px;
}
.step-text h4 { 
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}
/* .steps span { (REMOVED <span> elements from steps)
    font-size: 38px;
} */



/* What You Do style END */
/* Meet the Trainers style */



.trainers { 
    /* text-align: center; (replaced with flex(box) in Body styles: .flex-row) */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer {
    /* width: 900px; (replaced with flex(box) .trainers) */
    margin: 20px;
    background: #024e76;
    color: #fce138;
    /* overflow: auto; (replaced with flex(box) .trainers) */
    flex: 1;
}
.trainer img {
    width: 100%;
    /* float: left; */
}
.trainer-bio {
    padding: 25px;
    /* float: left; (replaced with flex(box) in .trainers)
    width: 65%; (replaced with flex(box) in .trainers) */
    line-height: 1.3;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.trainer-bio h3 {
    font-size: 28px;
    /* margin-bottom: 8px; */
}
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.trainer-bio p {
    font-size: 17px;
    /* line-height: 1.3; */
}



/* 'Meet the Trainers' style END */
/* 'reach out' style */



.contact {
    background-color: #024e76;
    /* text-align: center; (replaced with flex(box) in Body styles: .flex-row) */
}
.contact h2 {
    color: #fce138;
}
.contact-info iframe {
    width: 400px;
    height: 400px;
}
.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}
.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}
.contact-info a {
    color: #fce138;
}



/* 'reach out' style END */
/* Footer */



footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    /* (the below attributes replace vaious other footer attributes and make the content wrap more smoothly: h2:display, div:float) */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    /* display: inline; (replaced with flex(box)) */
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    /* float: right; (replaced with flex(box)) */
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;
}
section {
    padding: 60px;
}



/* Footer end */

